# Problem set 1

## Student name: Radwa Abdelsalam

## Submit by: Thursday 22.09.2022, 23:59

#### You will go over some of the things that we saw in class today, and will answer the quiz based on the outcome of your computational process. You also need to submit the script to demostrate the process you used to get to the answers.

For this problem set you DO NOT NEED to set training and testing data.

## Question 1.

In [52]:
#from sklearn.datasets import load_diabetes and set X and y
from sklearn import datasets
from sklearn.datasets import load_diabetes


# Take some time to understand the dataset
# take a look at it as a DataFrame object


# For this problem DO NOT SET training and testing data. We will use the same data
# throughout the problem set.

In [53]:
X,y = datasets.load_diabetes(return_X_y = True, as_frame = True)

In [54]:
X

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

How many variables are in X?

## Question 2

In [55]:
# Import the SGD Linear Regression algorithm 
# SGD stands for Stochastic Gradient Descent: the gradient of the loss is 
# estimated each sample at a time and the model is updated along the way 
# with a decreasing strength schedule (aka learning rate).
from sklearn.linear_model import SGDRegressor

# Set it as the mod variable
mod = SGDRegressor

# Take a look at the parameters

In [56]:
from sklearn.pipeline import Pipeline
pipe = Pipeline([('model', SGDRegressor()) 
                 ])
pipe.get_params()

{'memory': None,
 'steps': [('model', SGDRegressor())],
 'verbose': False,
 'model': SGDRegressor(),
 'model__alpha': 0.0001,
 'model__average': False,
 'model__early_stopping': False,
 'model__epsilon': 0.1,
 'model__eta0': 0.01,
 'model__fit_intercept': True,
 'model__l1_ratio': 0.15,
 'model__learning_rate': 'invscaling',
 'model__loss': 'squared_error',
 'model__max_iter': 1000,
 'model__n_iter_no_change': 5,
 'model__penalty': 'l2',
 'model__power_t': 0.25,
 'model__random_state': None,
 'model__shuffle': True,
 'model__tol': 0.001,
 'model__validation_fraction': 0.1,
 'model__verbose': 0,
 'model__warm_start': False}

What are the parameters of the Linear Regression model?

## Question 3.

In [57]:
# Import the Standard Scaler and take a look at the parameters
from sklearn.preprocessing import StandardScaler
scal_pipe=Pipeline([('scalar', StandardScaler()) 
                 ])
scal_pipe.get_params()

{'memory': None,
 'steps': [('scalar', StandardScaler())],
 'verbose': False,
 'scalar': StandardScaler(),
 'scalar__copy': True,
 'scalar__with_mean': True,
 'scalar__with_std': True}

What are the default option at which with_mean and with_std are set?

## Question 4.

In [64]:
# Create a pipeline using the two previous steps, for the model
# set the SGDRegressor parameter random_state = 123 to reproduce results.
mod_pipe = Pipeline([('scaler', StandardScaler()),     
                 ('model', SGDRegressor()),
                 ])

from sklearn.model_selection import KFold
cv=KFold(n_splits=3, random_state=123, shuffle=True)


#Fit and predict the pipe, print results

mod_pipe.fit(X,y)
pred = mod_pipe.predict(X)
print(pred)

[203.54966061  71.63106547 174.46135223 162.8961295  128.30951245
 107.05582243  79.02529915 121.82307619 158.98994852 213.54833404
 101.65981081 103.86649039 115.19967079 161.64126071 102.71215426
 172.28714222 209.10599672 181.05770304 146.27432833 122.46999472
 118.34610008  91.59854219 118.26933617 272.69942884 163.9296774
 144.08706806  97.23471446 177.64673024 127.8367841  183.6028157
 159.35945937  70.3374042  254.43195292 108.03365521  81.65440965
  83.52627724 206.80070249 154.34954803 241.25999725 134.89676966
 151.566544    74.20465613 143.0718673   79.19452145 216.39292911
 123.98066879 140.54527446 107.65437969  78.08837069 184.6302664
 157.61390946 167.11616384 133.22923054 157.36878057 141.20072552
  75.00819895 204.42098728  81.37190118  97.4075028  133.25198885
 116.01074864 174.20644771  68.0164615  100.5878898  112.78728886
 184.41493022 143.93714906 123.36916081 112.36049144 124.08296897
  76.68384637 234.62130433 147.49030395 122.05015866 149.79662924
 125.38719702 191.20906542  82.7494547  163.20797415  95.27530867
 172.21890917 119.8646299   67.81982716 150.87625265  59.01921034
 169.48069802  52.22619869 150.77825296  79.90570736 104.83382182
  85.41546569 185.35404973 188.43443611  60.9231465  107.44942318
 121.86812192 205.8880684  211.63493309 123.22145341 135.06889735
 166.44927406 106.67660669 149.58620742 158.22659556 157.5437025
 113.72021329  76.42572247 158.07414363 226.24352649 142.26425713
  52.881903   121.65462517 152.27182137 205.744886   298.23241169
 189.24936661 210.22164984 235.27185356 162.30292983 147.2584008
 156.6215278  196.83604415 216.39453008 169.00668937 167.54684634
 189.86754598  67.07581129 106.77859636  93.22154725 206.5859657
 242.2330592   72.43092031 113.21953678  72.99164625 141.32891895
 235.33277454  62.411723   231.6639044  251.55638699 251.10052237
 157.11398518 223.66914626 170.49471324 118.97368894 175.00299312
 239.46036241 187.71698928 225.5119282  115.347646   174.35605327
 208.33416948 142.2000455  194.32653609 122.47568561 149.27007304
 197.72185658 145.43589293 121.59779715  85.75667007 233.48298797
  84.02976656 232.69935665 143.46144664 196.65840462 142.19735208
  78.3427866   65.47176999 263.78862688 222.97100485 240.90336307
  55.97262243  90.66665372 222.70346451  95.41053548 161.52971108
 120.29398723 156.36832604 221.76569778 102.25338671 163.01605426
 175.43711695  90.08186149 168.88715872 155.28859724 198.71224032
 185.39853251 192.60978041  73.6986403  153.19042005 114.00067284
 191.18828615 125.43002679  93.53357616 138.01615288 152.2806537
 167.81507508  98.3851989  186.89854639 149.72230615 181.72478334
  95.84832207  72.01660861 169.86889397 193.53681513 174.37722524
 226.47766976 157.65663711 211.28379763 219.36012034 170.14792096
 127.51606621 175.85882529 151.1942172   98.55600943  98.39068601
 259.88410013 216.67527867 219.46846439 129.45772225 141.03512115
  64.23854236 139.77787398 151.9647131  122.78107054  77.84034257
 228.38777954  79.74498082 105.94154611 116.96889912  99.16252225
 166.67678518 156.05594654 154.90957542 142.11198384 231.03351228
 173.71522098 184.48465302  67.80556964 184.65071361 179.60187548
 231.300928   120.0209501   91.86451862 101.69170248 141.47954631
 102.67179837 119.49215054  79.68988486 232.81139961 245.55903714
 265.13036719 275.58815083 178.46412363 200.76564105 267.62046506
 115.65032106 263.95833949 101.97392088 115.11812022 142.05674327
  63.58165751 125.25627656 260.3173146   50.78609306 128.43896861
 128.21270937  41.37375767 136.02649706 239.80959552  87.023133
 189.1269826  163.4470085  146.8267343  201.09705987 173.20012231
 155.10475209 190.17689949 114.08929052 109.07493369 116.93073061
 162.64232429  92.91189516 138.74600489  88.68388317 157.54808144
 197.29450919  75.04292731 145.9491152   85.3902403  189.90637425
 218.25107915 204.91519162  95.61551288 183.27195464  89.36236974
 151.57844433  79.9464037  103.28362294 107.1160847  122.73521988
 215.80942585 124.75177143 204.12801991 232.78631214 122.10321111
 130.30665565 128.98755768 145.22514877  91.03843667 137.65427125
 203.12970705 170.49794661 124.39496811 211.931861   172.93741492
 109.43622543 198.22121106 170.39140038 160.44437402 187.85702797
 187.81576035 286.81859909 295.04813862 232.61835414 207.33003992
 218.43131924 153.0329356  222.43220429 185.75354878 102.28011114
 176.35033963 112.37089795 289.18053954 178.95465581  83.25799211
  88.32632806 248.15612881 170.54461968 122.48698282 145.27311852
 172.09690874 184.23679834 164.5330925  161.31695098 141.53768167
 123.37372034 178.6295948  101.35761115 128.46952698  97.35163149
 250.14179683  88.79960179  57.48438321 177.95702809 195.67482605
 132.94970269  93.42679881 200.38358344  59.35889058 170.66872407
 193.17539395 124.33895828 232.57649506 160.44882658 156.00667845
 159.32090447 253.58108023 254.80839967 199.79355754 181.90104164
  61.48369287 209.21624248 108.28267035 142.83792152 124.92246306
 177.12568748 209.5407106  165.72282616 161.11361286 136.58166148
 177.33743489  72.40952463 255.71045675 113.70627882 111.33795186
 139.02525092 109.33477865 102.33921964 160.67364443  76.78224607
 262.704513    60.7634186  100.0788188  101.79043936 276.59539982
 166.11828987  70.48531965 179.12884057 170.90686312 188.02489915
 185.52904422  88.03710995 143.20929929 250.96100959 199.97592796
 279.76348445  53.17597478 175.33850396 202.31310708 170.17509535
 158.49452138 154.38013554 230.13974688 122.59156439 163.37160249
 167.64010527 227.00897466 152.2253525   99.27630107  85.10653048
 139.89885686 188.63277236 198.90490592 148.23688764 167.6147205
 109.86139583 159.3542761  131.21514485 257.87695257 101.29671461
 113.63579616 120.32765513 216.9751825   61.70934345 134.25805157
 120.59352734  55.4722664  191.22587908 101.38616872 123.74398611
 209.12502214  48.04499609]

What are the first 4 predicted values?

Question 5.

In [59]:
# Now create a GridSearchCV Object using the previous pipe object,
# where the parameter 'model__alpa' is set to try 0.0001, 0.005, 0.001.
# Set cross validation to 3 times.
from sklearn.model_selection import GridSearchCV
mod2 = GridSearchCV(estimator=mod_pipe,
                 param_grid={
                   'model__alpha': [0.0001, 0.005 , 0.001],       
                 },
                 cv=cv)

How are you supposed to write the values of the parameter 'alpha'?

Question 6.

In [60]:
# Now fit the GridSearch model from above and see the results 
# (Hint: to make sure we all get the same results, you had to use the pipe that
# was set in question 4 making sure we used the same random_state = 123)
mod2.fit(X,y)

GridSearchCV(cv=KFold(n_splits=3, random_state=123, shuffle=True),
             estimator=Pipeline(steps=[('scaler', StandardScaler()),
                                       ('model', SGDRegressor())]),
             param_grid={'model__alpha': [0.0001, 0.005, 0.001]})

In [61]:
import pandas as pd
pd.DataFrame(mod2.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_model__alpha,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.008720,0.003472,0.002825,0.000948,0.0001,{'model__alpha': 0.0001},0.519621,0.476184,0.482944,0.492917,0.019084,3
1,0.005725,0.000370,0.002658,0.000583,0.005,{'model__alpha': 0.005},0.518861,0.477408,0.484305,0.493525,0.018135,1
2,0.006085,0.000197,0.002486,0.000102,0.001,{'model__alpha': 0.001},0.518143,0.477854,0.483434,0.493144,0.017823,2

Which is the best model? Look at the rank_test_value

Question 7.

Find out which test score is the one that is reported above in mean_test_score. What is it and how do you interpret this results?

In [62]:
#In GridSearchCV, mean_test_score denotes the mean accuracy of every split in cross validation. In case of regression models, it represents R2.