# Problem set 1

## Student name: Radwa Abdelsalam

## Submit by: Thursday 22.09.2022, 23:59

#### You will go over some of the things that we saw in class today, and will answer the quiz based on the outcome of your computational process. You also need to submit the script to demostrate the process you used to get to the answers.

For this problem set you DO NOT NEED to set training and testing data.

## Question 1.

In [11]:
#from sklearn.datasets import load_diabetes and set X and y
from sklearn import datasets
from sklearn.datasets import load_diabetes


# Take some time to understand the dataset
# take a look at it as a DataFrame object


# For this problem DO NOT SET training and testing data. We will use the same data
# throughout the problem set.

In [12]:
X,y = datasets.load_diabetes(return_X_y = True, as_frame = True)

In [15]:
X

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

How many variables are in X?

## Question 2

In [20]:
# Import the SGD Linear Regression algorithm 
# SGD stands for Stochastic Gradient Descent: the gradient of the loss is 
# estimated each sample at a time and the model is updated along the way 
# with a decreasing strength schedule (aka learning rate).
from sklearn.linear_model import SGDRegressor

# Set it as the mod variable
mod = SGDRegressor

# Take a look at the parameters

In [28]:
from sklearn.pipeline import Pipeline
pipe = Pipeline([('model', SGDRegressor()) 
                 ])
pipe.get_params()

{'memory': None,
 'steps': [('model', SGDRegressor())],
 'verbose': False,
 'model': SGDRegressor(),
 'model__alpha': 0.0001,
 'model__average': False,
 'model__early_stopping': False,
 'model__epsilon': 0.1,
 'model__eta0': 0.01,
 'model__fit_intercept': True,
 'model__l1_ratio': 0.15,
 'model__learning_rate': 'invscaling',
 'model__loss': 'squared_error',
 'model__max_iter': 1000,
 'model__n_iter_no_change': 5,
 'model__penalty': 'l2',
 'model__power_t': 0.25,
 'model__random_state': None,
 'model__shuffle': True,
 'model__tol': 0.001,
 'model__validation_fraction': 0.1,
 'model__verbose': 0,
 'model__warm_start': False}

What are the parameters of the Linear Regression model?

## Question 3.

In [27]:
# Import the Standard Scaler and take a look at the parameters
from sklearn.preprocessing import StandardScaler
scal_pipe=Pipeline([('scalar', StandardScaler()) 
                 ])
scal_pipe.get_params()

{'memory': None,
 'steps': [('scalar', StandardScaler())],
 'verbose': False,
 'scalar': StandardScaler(),
 'scalar__copy': True,
 'scalar__with_mean': True,
 'scalar__with_std': True}

What are the default option at which with_mean and with_std are set?

## Question 4.

In [59]:
# Create a pipeline using the two previous steps, for the model
# set the SGDRegressor parameter random_state = 123 to reproduce results.
mod_pipe = Pipeline([('scaler', StandardScaler()),     
                 ('model', SGDRegressor()),
                 ])

from sklearn.model_selection import KFold
cv=KFold(n_splits=3, random_state=123, shuffle=True)


#Fit and predict the pipe, print results

mod_pipe.fit(X,y)
pred = mod_pipe.predict(X)
print(pred)

[202.79550399  70.79521749 173.32848824 164.54910919 128.40207414
 105.54592288  78.44221218 122.78308662 158.93833966 214.4106665
 100.43244625 105.53514961 114.44481772 161.25002277 101.67212498
 174.93676954 208.60436018 181.58167405 146.511218   122.0086688
 117.85559829  91.30251447 118.81418254 275.60289978 164.19585442
 144.94425433  95.84395411 177.20627255 126.76442763 181.02905746
 159.45220281  68.92492819 255.42282768 105.35125046  80.63001509
  82.00588869 206.13304884 153.6043839  243.49373193 135.07110519
 153.02714783  73.73218318 143.19485837  78.27561251 217.09718437
 123.35141277 139.78176849 106.74455015  77.03003843 185.86474277
 156.6459567  166.07753898 134.19832912 157.80499126 141.47157836
  74.60778643 204.79317425  79.22406217  94.56266487 133.34382823
 114.66164615 175.17227301  67.52030114 101.57701521 111.00211472
 185.63873182 144.99952175 123.07284809 111.60376583 123.06965911
  76.27673611 235.2171401  148.22791085 122.80053746 149.28107621
 125.36742246 189.38574902  83.09915175 162.47788864  96.48822251
 172.4371743  120.39832778  67.57508935 150.19361429  58.13968072
 168.92987336  52.76512816 150.16506441  79.2749119  104.4102119
  84.15734115 186.97084977 187.58344013  60.47629281 107.04741436
 122.2873754  206.0674981  213.46546477 122.22280228 135.87891032
 167.24404637 105.61391923 150.16395948 159.10285469 157.31223056
 113.14973133  76.22063187 159.74985522 225.99749427 143.34576436
  52.17096395 121.13618849 153.37123643 206.59842764 299.5164542
 192.06133693 210.45804223 237.299183   163.64161177 146.25043021
 156.8654278  197.43145448 218.03679008 173.90312918 166.6855002
 189.72913398  66.40747962 105.58810345  92.94488638 207.79479396
 242.5234571   72.55329868 113.6274889   71.837067   141.36583651
 236.18389335  61.42209079 231.39395288 250.98611921 250.81415995
 156.80587394 227.14798536 170.80208745 118.73078856 176.36726401
 238.92087037 188.80249262 227.12097856 116.21814303 175.53083874
 208.29270159 141.3541364  196.6773758  122.13499592 149.06894271
 199.56121403 144.65417491 122.33506856  86.14892849 233.85202605
  83.68341418 236.76696013 144.03325126 196.54896503 140.95812176
  77.67169366  64.29998536 265.12811088 225.94436828 244.4033707
  55.26047982  89.96125417 223.86084632  94.02427613 159.8028872
 119.28219823 156.16856101 223.72537809 101.80226427 164.43419809
 176.0062051   90.39657138 170.38958127 154.75068283 198.84934705
 186.34371788 195.29673564  72.25180355 153.97485413 113.94998383
 191.68301047 123.92427958  92.57228346 140.1735238  151.7017659
 168.70400688  99.11003434 187.07518822 149.72571263 182.02621336
  96.00661186  71.54400179 171.47882047 195.04925437 174.012383
 226.56523186 158.47329417 211.07045964 220.5203129  169.85523061
 127.52155345 174.80104278 150.68337274  98.18231621  95.90609078
 259.57218249 219.37979837 219.67940794 130.53421904 140.13719986
  63.2888375  140.24248021 150.83473598 122.23802001  77.38790467
 228.37559117  79.22659452 104.17381078 117.50496913  98.65363581
 170.39908642 156.17040987 156.31484859 140.85449186 231.02103055
 172.91019629 185.90095134  67.21965126 184.8596998  180.60757679
 231.38962667 120.07204413  91.17628818 101.02525566 140.67501823
 101.41996826 119.96602475  79.09436119 236.75285551 247.23303227
 265.16357985 278.64734297 180.16031876 202.00417691 270.13780384
 114.87269727 265.15140545 100.6698488  116.49790437 142.45204821
  62.05529554 122.92971222 260.99016399  50.39979924 128.33277767
 128.11984235  39.98230742 137.60791503 240.88695698  85.44431408
 187.64353194 162.7683464  145.57356876 203.25244132 173.18735436
 154.91508895 191.54264034 112.26129872 109.49311768 115.53014019
 162.32370872  92.87575213 140.30786973  88.12967374 156.38787584
 199.35982007  72.89344773 148.03418583  85.50888965 192.32300702
 218.75306578 205.31293959  93.85382772 184.79875335  89.55949022
 151.29562378  78.8093834  102.91795276 105.47275044 122.01768424
 216.27851246 124.76332254 204.86722015 233.11675814 123.94529511
 131.17881066 128.01200646 145.76521993  89.13518246 138.66978079
 203.73198308 171.65366063 124.35424452 212.30019488 173.20056506
 109.3176762  198.87404362 171.91544382 159.57373578 186.58652733
 190.39395672 289.91285698 298.92202244 235.70135194 210.17255578
 221.70984887 153.26751654 222.48241096 186.12711044 101.29815985
 177.55287366 111.2153484  290.03499415 179.21210723  82.27817102
  87.63205756 252.55185382 170.60004767 123.36918053 146.29482036
 171.5052827  183.90598681 164.34205675 161.22972335 143.68517035
 123.90582111 181.47519913 100.69619742 127.24137772  97.18571323
 250.66035092  87.83517276  54.38950375 181.43318806 198.12233338
 132.93996981  93.18583067 200.32070726  58.64931912 171.00244763
 193.14835928 122.8758535  232.04081339 160.69204805 156.65611243
 159.69209223 255.98469132 256.02117158 201.09781613 182.65018264
  60.66481102 210.69512506 108.19994529 142.3632365  124.18429889
 176.68610274 212.90344793 166.75181052 161.4544451  134.30985417
 176.47634124  72.23968374 256.44602463 112.62960692 111.9155516
 137.20846748 108.5259796  103.21416133 159.9196319   75.81799018
 264.28102079  60.20731822 100.8061009  101.69367283 279.2331253
 166.28319904  69.96661302 178.20376462 171.61586496 187.80419562
 184.51462615  86.53160066 143.64065484 251.72295693 199.36266528
 278.10838009  52.48368741 176.69780898 202.82224111 172.11431151
 159.67585095 152.94201223 230.15707152 122.78893381 165.73608806
 169.51904095 227.75529498 152.9106035  100.47748569  84.4548132
 141.0794019  189.97595556 200.16772721 150.09083966 168.0349191
 108.0386127  160.83576966 130.17812341 258.93233621 101.80106333
 114.92004158 118.33792099 218.72098141  61.49753827 134.1693489
 120.97924458  54.24803661 190.8377331  103.07224079 123.16238899
 210.38521811  47.79894307]

What are the first 4 predicted values?

Question 5.

In [122]:
# Now create a GridSearchCV Object using the previous pipe object,
# where the parameter 'model__alpa' is set to try 0.0001, 0.005, 0.001.
# Set cross validation to 3 times.
from sklearn.model_selection import GridSearchCV
mod2 = GridSearchCV(estimator=mod_pipe,
                 param_grid={
                   'model__alpha': [0.0001, 0.005 , 0.001],       
                 },
                 cv=cv)

How are you supposed to write the values of the parameter 'alpha'?

Question 6.

In [123]:
# Now fit the GridSearch model from above and see the results 
# (Hint: to make sure we all get the same results, you had to use the pipe that
# was set in question 4 making sure we used the same random_state = 123)
mod2.fit(X,y)

GridSearchCV(cv=KFold(n_splits=3, random_state=123, shuffle=True),
             estimator=Pipeline(steps=[('scaler', StandardScaler()),
                                       ('model', SGDRegressor())]),
             param_grid={'model__alpha': [0.0001, 0.005, 0.001]})

In [124]:
import pandas as pd
pd.DataFrame(mod2.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_model__alpha,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.007186,0.002971,0.001949,0.000195,0.0001,{'model__alpha': 0.0001},0.519612,0.479082,0.484512,0.494402,0.017963,1
1,0.005222,0.000193,0.001810,0.000023,0.005,{'model__alpha': 0.005},0.518922,0.478041,0.483684,0.493549,0.018089,3
2,0.004991,0.000372,0.002100,0.000339,0.001,{'model__alpha': 0.001},0.518280,0.477696,0.484884,0.493620,0.017683,2

Which is the best model? Look at the rank_test_value

Question 7.

Find out which test score is the one that is reported above in mean_test_score. What is it and how do you interpret this results?